<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.apache.forrest.repository.ui"
   name="Repository UI Plug-in"
   version="0.0.1"
   provider-name=""
   class="org.apache.forrest.repository.ui.RepositoryUIPlugin">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.apache.forrest.repository.daisy"/>
   </requires>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Daisy Repository"
            id="org.apache.forrest.repository.ui">
      </category>
      <view
            category="org.apache.forrest.repository.ui"
            class="org.apache.forrest.repository.ui.views.RepositoryView"
            id="org.apache.forrest.repository.ui.views.RepositoryBrowser"
            name="RepositoryBrowser">
      </view>
   </extension>
</plugin>
