.demo-js-css {
  padding: 0.3em;
  background-color: lightgrey;
  border-style: double;
  border-width: 0.5em;
}
#demo-js-css-1 { border-color: red; }
#demo-js-css-2 { border-color: blue; }
#demo-js-css-3 { border-color: green; }
#demo-js-css-1:after { content: "; from first CSS resources"; }
