html body, body div, body p, body th, body td, body li, body dl, body dd, input, select, textarea {
 font-family: Arial, Helvetica, sans-serif;
 }
p, ul, ol, dl {
 margin-top: .67em;
 margin-bottom: .67em;
 }
table, th, td {
 border: none
 }
form {
 margin-top: 0;
 margin-bottom: 0;
 }

body {
	margin: 0px;
	padding: 10px;
}
body, td {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
p {
	text-align: justify;
}
div {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
	color: black;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-left: 16px;
}
h1 {
	border: 1px solid #003366;
	font-size: 18pt;
	padding: 2px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #EEEEFF;
	margin-left: 0px;
}

h2 {
	font-size: 16pt;
}
h3 {
	font-size: 14pt;
	color: #000033;
}
h4 {
	font-size: 12pt;
	color: #000066;
}
h5 {
	font-size: 11pt;
	font-style: italic;
	text-align: center;
	color: #333399;
	margin-left: 0px;
}
h6 {
	font-size: 10pt;
	text-align: center;
	font-weight: normal;
	color: #3333CC;
	margin-left: 0px;
}
a, a:visited {
	color: #336699;
}
a:hover, a:active {
	color: #003366;;
}
#breadcrumbs {
	border-top: 1px solid #003366;
	border-bottom: 1px solid #003366;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
	font-size: 10pt;
	font-weight: bold;
}
#menu {
	border: 1px solid #003366;
	width: 175px;
}
#menu h4 {
	margin: 0px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	text-align: left;
	font-style: normal;
	font-size: 10pt;
	background-color: #EEEEFF;
}
#submenu h4 {
	margin: 0px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	text-align: left;
	font-style: normal;
	font-size: 10pt;
	background-color: #EEEEFF;
}
#submenu ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
#authors {
	font-size: 10px;
	text-align: right;
}
#footer {
	border-top: 1px solid #003366;
	margin-top: 20px;
	padding: 3px;
	text-align: center;
	font-size: 9pt;
	font-style: italic;
}
a.breadcrumbs, a.breadcrumbs:visited, a.menu, a.menu:visited {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.breadcrumbs:hover, a.breadcrumbs:active, a.menu:hover, a.menu:active {
	text-decoration: underline;
}
.section {
	margin-left: 40px;
}
.code {
	font-family: Courier, Courier New, monospace;
	padding: 4px;
	border: 1px solid #003366;
}
.code, pre {
	font-size: 11px;
}
.section .code {
	margin-left: -40px;
}
.section .section .code {
	margin-left: -80px;
}
@media print {
	body td {
		font-family: Times New Roman, Zurich Bt, serif;
		font-size: 10pt;
	}
	#menu h4 {
		margin-left: 0px;
	}
	.code {
		page-break-inside: avoid;
	}
	p ul {
		page-break-inside: avoid;
	}
	.section .code {
		margin-left: 0px;
	}
	#menu {
		display: none;
		width: 0px;
	}
	#contents div {
		margin: 0px;
	}
}

