<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 1999-2004 The Apache Software Foundation.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.0"?>
<plugin
   id="org.apache.forrest.eclipse"
   name="Forrest Plug-in"
   version="0.1.0"
   provider-name="The Apache Software Foundation"
   class="org.apache.forrest.eclipse.ForrestPlugin">

   <runtime>
      <library name="forrestplugin.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Forrest Action Set"
            visible="true"
            id="org.apache.forrest.actionSet.eclipse">
         <menu
               label="Forrest"
               id="forrestMenu">
            <separator
                  name="forrestGroup">
            </separator>
         </menu>
          <action
                toolbarPath="forrestGroup"
                label="Stop Forrest"
                icon="icons/stop.png"
                tooltip="Stop Forrest"
                class="org.apache.forrest.eclipse.actions.StopForrest"
                menubarPath="forrestMenu/forrestGroup"
                id="org.apache.forrest.eclipse.actions.StopForrest">
         </action>
          <action
                toolbarPath="forrestGroup"
                label="Start Forrest"
                class="org.apache.forrest.eclipse.actions.StartForrest"
                tooltip="Start Forrest"
                icon="icons/start.png"
                menubarPath="forrestMenu/forrestGroup"
                id="org.apache.forrest.eclipse.actions.StartForrest">
         </action>
          <action
                toolbarPath="forrestGroup"
                label="Build Site"
                class="org.apache.forrest.eclipse.actions.BuildSite"
                tooltip="Build Forrest site"
                icon="icons/build.png"
                menubarPath="forrestMenu/forrestGroup"
                id="org.apache.forrest.eclipse.Build"/>
      </actionSet>
   </extension>
   <extension
      point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.forrest.eclipse.preference.ForrestPreferences"
            name="Forrest Preferences"
            id="org.apache.forrest.eclipse.preference.ForrestPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Forrest"
            id="org.apache.forrest.eclipse"/>
      <wizard
            class="org.apache.forrest.eclipse.wizards.NewProjectWizard"
            category="org.apache.forrest.eclipse"
            project="true"
            name="Seed New Project"
            id="org.apache.forrest.eclipse.NewProjectWizard"/>
   </extension>

</plugin>