
# /
/build
/deploy.svn.settings
/.classpath
/.project
/*.iml

# /etc/
/etc/build.number

# /lib/core/
/lib/core/jimi*

# /lib/optional/
/lib/optional/jimi-1.0.jar
/lib/optional/*.jar

# /main/
/main/build
/main/.classpath
/main/.project
/main/plugins

# /main/fresh-site/
/main/fresh-site/build

# /main/webapp/
/main/webapp/.upload-dir

# /main/webapp/WEB-INF/
/main/webapp/WEB-INF/.cocoon.xconf.swp

# /main/webapp/skins/
/main/webapp/skins/whs
/main/webapp/skins/skins-1.xml
/main/webapp/skins/whs

# /plugins/
/plugins/build
/plugins/dist

# /plugins/org.apache.forrest.plugin.input.OpenOffice.org/
/plugins/org.apache.forrest.plugin.input.OpenOffice.org/build

# /plugins/org.apache.forrest.plugin.input.PhotoGallery/
/plugins/org.apache.forrest.plugin.input.PhotoGallery/build

# /plugins/org.apache.forrest.plugin.input.dtdx/
/plugins/org.apache.forrest.plugin.input.dtdx/build

# /plugins/org.apache.forrest.plugin.input.excel/
/plugins/org.apache.forrest.plugin.input.excel/build

# /plugins/org.apache.forrest.plugin.input.feeder/
/plugins/org.apache.forrest.plugin.input.feeder/build

# /plugins/org.apache.forrest.plugin.input.listLocations/
/plugins/org.apache.forrest.plugin.input.listLocations/build

# /plugins/org.apache.forrest.plugin.input.projectInfo/
/plugins/org.apache.forrest.plugin.input.projectInfo/build

# /plugins/org.apache.forrest.plugin.input.simplifiedDocbook/
/plugins/org.apache.forrest.plugin.input.simplifiedDocbook/build

# /plugins/org.apache.forrest.plugin.input.wiki/
/plugins/org.apache.forrest.plugin.input.wiki/build

# /plugins/org.apache.forrest.plugin.output.POD/
/plugins/org.apache.forrest.plugin.output.POD/build

# /plugins/org.apache.forrest.plugin.output.Text/
/plugins/org.apache.forrest.plugin.output.Text/build

# /plugins/org.apache.forrest.plugin.output.pdf/
/plugins/org.apache.forrest.plugin.output.pdf/build

# /plugins/pluginTemplate/
/plugins/pluginTemplate/build

# /site-author/
/site-author/build
/site-author/logs
/site-author/work

# /tools/eclipse/plugins/org.apache.forrest/
/tools/eclipse/plugins/org.apache.forrest/build
/tools/eclipse/plugins/org.apache.forrest/bin

# /tools/eclipse/plugins/org.apache.forrest.eclipse.servletEngine/
/tools/eclipse/plugins/org.apache.forrest.eclipse.servletEngine/bin
/tools/eclipse/plugins/org.apache.forrest.eclipse.servletEngine/build

# /tools/eclipse/plugins/org.apache.forrest.repository.daisy/
/tools/eclipse/plugins/org.apache.forrest.repository.daisy/bin/org/*

# /tools/eclipse/updateSite/
/tools/eclipse/updateSite/features
/tools/eclipse/updateSite/plugins

# /tools/forrestbar/
/tools/forrestbar/build

# /tools/forrestbot/
/tools/forrestbot/work
/tools/forrestbot/build
/tools/forrestbot/logs
/tools/forrestbot/deploy.cvs.settings
/tools/forrestbot/sites
/tools/forrestbot/deploy.svn.settings

# /tools/forrestbot/webapp/
/tools/forrestbot/webapp/target

# /tools/logos/
/tools/logos/build

# /tools/xxe/
/tools/xxe/dist
/tools/xxe/dtd
/tools/xxe/entity
/tools/xxe/catalog.xml

# /whiteboard/forrest2/core/
/whiteboard/forrest2/core/build
/whiteboard/forrest2/core/bin
/whiteboard/forrest2/core/lib
/whiteboard/forrest2/core/dist
/whiteboard/forrest2/core/local.build.properties
/whiteboard/forrest2/core/distrib

# /whiteboard/forrest2/core/src/examples/helloWorld/
/whiteboard/forrest2/core/src/examples/helloWorld/build

# /whiteboard/forrest2/core/tools/ivy/repository/apache/
/whiteboard/forrest2/core/tools/ivy/repository/apache/forrest2

# /whiteboard/forrest2/forrest2-webapp/
/whiteboard/forrest2/forrest2-webapp/build
/whiteboard/forrest2/forrest2-webapp/dist
/whiteboard/forrest2/forrest2-webapp/lib

# /whiteboard/forrest2/wicket-demo/
/whiteboard/forrest2/wicket-demo/target

# /whiteboard/multipleSites/
/whiteboard/multipleSites/build

# /whiteboard/multipleSites/master/
/whiteboard/multipleSites/master/build

# /whiteboard/plugins/
/whiteboard/plugins/build

# /whiteboard/plugins/org.apache.forrest.plugin.Database/
/whiteboard/plugins/org.apache.forrest.plugin.Database/build

# /whiteboard/plugins/org.apache.forrest.plugin.OpenOffice.org-output/
/whiteboard/plugins/org.apache.forrest.plugin.OpenOffice.org-output/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.Blog/
/whiteboard/plugins/org.apache.forrest.plugin.input.Blog/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.Daisy/
/whiteboard/plugins/org.apache.forrest.plugin.input.Daisy/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.Lenya/
/whiteboard/plugins/org.apache.forrest.plugin.input.Lenya/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.Resume/
/whiteboard/plugins/org.apache.forrest.plugin.input.Resume/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.XDoc/
/whiteboard/plugins/org.apache.forrest.plugin.input.XDoc/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.baetle/
/whiteboard/plugins/org.apache.forrest.plugin.input.baetle/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.citations/
/whiteboard/plugins/org.apache.forrest.plugin.input.citations/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.doac/
/whiteboard/plugins/org.apache.forrest.plugin.input.doac/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.doap/
/whiteboard/plugins/org.apache.forrest.plugin.input.doap/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.ecs/
/whiteboard/plugins/org.apache.forrest.plugin.input.ecs/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.foaf/
/whiteboard/plugins/org.apache.forrest.plugin.input.foaf/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.glossary/
/whiteboard/plugins/org.apache.forrest.plugin.input.glossary/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.logs/
/whiteboard/plugins/org.apache.forrest.plugin.input.logs/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.odt/
/whiteboard/plugins/org.apache.forrest.plugin.input.odt/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.odt/resources/stylesheets/

# /whiteboard/plugins/org.apache.forrest.plugin.input.serverStatus/
/whiteboard/plugins/org.apache.forrest.plugin.input.serverStatus/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.skos/
/whiteboard/plugins/org.apache.forrest.plugin.input.skos/build

# /whiteboard/plugins/org.apache.forrest.plugin.input.tei/
/whiteboard/plugins/org.apache.forrest.plugin.input.tei/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.DevTools/
/whiteboard/plugins/org.apache.forrest.plugin.internal.DevTools/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.GoogleSitemap/
/whiteboard/plugins/org.apache.forrest.plugin.internal.GoogleSitemap/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.IMSManifest/
/whiteboard/plugins/org.apache.forrest.plugin.internal.IMSManifest/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.NoteTaking/
/whiteboard/plugins/org.apache.forrest.plugin.internal.NoteTaking/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.dispatcher/
/whiteboard/plugins/org.apache.forrest.plugin.internal.dispatcher/build

# /whiteboard/plugins/org.apache.forrest.plugin.internal.dispatcher/src/cocoon-2.2-block/
/whiteboard/plugins/org.apache.forrest.plugin.internal.dispatcher/src/cocoon-2.2-block/target

# /whiteboard/plugins/org.apache.forrest.plugin.internal.xhtml2/
/whiteboard/plugins/org.apache.forrest.plugin.internal.xhtml2/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.Anakia/
/whiteboard/plugins/org.apache.forrest.plugin.output.Anakia/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.Chart/
/whiteboard/plugins/org.apache.forrest.plugin.output.Chart/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.Markdown/
/whiteboard/plugins/org.apache.forrest.plugin.output.Markdown/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.OOo/
/whiteboard/plugins/org.apache.forrest.plugin.output.OOo/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.htmlArea/
/whiteboard/plugins/org.apache.forrest.plugin.output.htmlArea/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.iCal/
/whiteboard/plugins/org.apache.forrest.plugin.output.iCal/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.solr/
/whiteboard/plugins/org.apache.forrest.plugin.output.solr/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.tei/
/whiteboard/plugins/org.apache.forrest.plugin.output.tei/build

# /whiteboard/plugins/org.apache.forrest.plugin.output.voice/
/whiteboard/plugins/org.apache.forrest.plugin.output.voice/build

# /whiteboard/plugins/rtf-output/
/whiteboard/plugins/rtf-output/build

# /whiteboard/tests/basic/
/whiteboard/tests/basic/build

# /whiteboard/tests/whole-site/
/whiteboard/tests/whole-site/build
