RedirectMatch Permanent ^mail-archives(.*) http://forrest.apache.org/mail-lists$1
AddDefaultCharset UTF-8

<Files ~ "\.(dtd|mod)$">
  ForceType application/xml-dtd
</Files>
<Files ~ "\.(pen|ent)$">
  ForceType application/xml-external-parsed-entity
</Files>
