body {
	font-family: Georgia, Palatino, serif;
	font-size: 12pt;
	background: white;
}

#tabs,
#menu,
#content .toc {
	display: none;
}

#content {
	width: auto;
	padding: 0;
	float: none !important;
	color: black;
	background: transparent;
}

a:link, a:visited {
	color: #336699;
	background: transparent;
	text-decoration: underline;
}

#top .logo {
	padding: 0;
	margin: 0 0 2em 0;
}

#footer {
	margin-top: 4em;
}

acronym {
	border: 0;
}
