body { font-family: verdana,arial,helvetica,sans-serif; font-size: 10px; }
form { margin: 0px; padding: 0px; border: 0px; }
ul { margin: 0px 5px 0px 25px; padding: 0px; }
li { margin: 2px 0px 2px 0px; }
table { border: 0px; width: 100%; }
img { border: 0px; }

a:link { color: #0F3660 }
a:visited { color: #880000 }
a:active { font-weight: bold }
a:hover { color: #880000; }

.path { font-size: 10px; background-color: #CFDCED; border-bottom-color: #4A6D8C; border-bottom-style: solid; border-bottom-width: 2px; padding: 2px; }
.path .current { font-weight: bold; }

.top { background-color: #294563; }
.top img { margin: 5px; }

.search { font-size: 13px; color: #ffffff; margin-right: 10px; padding: 10px 5px 3px 5px; background-color: #4A6D8C; }

.tabs { font-size: 12px; background-color: #294563; padding: 2px 7px 5px 7px; }
.tabs .tab { background-color: #CFDCED; padding: 4px 6px 4px 6px;}
.tabs .current { background-color: #FFFFFF; font-weight: bold; padding: 5px 6px 6px 6px; }

.copyright { text-align: center; font-size: 10px; background-color: #CFDCED; border-top-color: #4A6D8C; border-top-style: solid; border-top-width: 1px; padding: 2px; }

.category { width: 100%; margin-bottom: 5px; }
.category .label { font-weight: bold; font-size: 11px; background-color: #7099C5; color: #ffffff; }
.category .content { margin: 0px; }

.software { margin: 0px 0px 3px 0px; }
.software .name { font-weight: bold; font-size: 13px; }
.software .languages { color: #7099C5; font-size: 13px; }
.software .desc { font-size: 11px; }

.frame { width: 100%; margin-bottom: 10px; font-size: 11px; background-color: #f0f0ff; border: solid 1px #7099C5; }
.frame .label { background-color: #7099C5; color: #ffffff; }
.frame .content { margin: 3px; }

.news { margin-bottom: 10px; }
.news .title { font-size: 13px; font-weight: bold; }
.news .by { font-size: 9px; color: #7099C5; }
.news .by a { color: #7099C5; }
.news .text { margin: 5px 0px 0px 0px; }
.news img { float: left; margin: 5px 5px 5px 5px; border: 0px; width: 35px; height: 35px; }
