<html>
<head>
 <title>Forrest - Homepage</title>
 <link rel="stylesheet" href="home.css" type="text/css"/>
</head>

<body>

<form method="get" action="http://www.google.com/search" onsubmit="q.value = query.value + ' site:xml.apache.org'">

<div class="path">
 <a href="a">www.apache.org</a>&nbsp;&gt;&nbsp;
 <span class="current">xml.apache.org</span>
</div>

<table class="top" cellspacing="0" cellpadding="0" summary="the top bar">
 <tr>
  <td width="100%"><img src="images/biglogo.gif" alt="The Apache XML Project"></td>
  <td valign="top" nowrap>
   <div class="search">
    <input type="hidden" name="q"/><input type="text" id="query" size="15"/>&nbsp;<input type="button" value="Search" name="Search"/><br>
    <input type="radio" name="web" value="web">web site&nbsp;<input type="radio" name="mail" value="mail">mail lists
   </div>
  </td>
 </tr>
</table>

<div class="tabs">
  <span class="current">Home</span>
  <span class="tab"><a href="">What we do</a></span>
  <span class="tab"><a href="">How we do it</a></span>
  <span class="tab"><a href="">Who we are</a></span>
  <span class="tab"><a href="">How to join us</a></span>
</div>

<table cellspacing="10" cellpadding="0" summary="the content pane">
 <tr>
  <td width="65%" valign="top">

   <div class="category">
    <div class="label">Parse</div>
    <div class="content">
     <div class="software">
      <span class="name">Xerces</span>
      <span class="languages">[<a href="">C/C++</a>|<a href="">Java</a>|<a href="">Perl</a>]</span>
      <span class="desc">
       is a fully-validating XML parser. It implements the W3C DOM API (level 1 and 2)
       the SAX2 API and the JAXP API. Validation is driven by either DTD or XMLSchema. 
       A Perl wrapper for the C++ version is available as well as a a COM wrapper 
       for full interoperability with the Microsoft MSXML parser. 
      </span>
     </div>
     <div class="software">
      <span class="name">Crimson</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       is a non-validating XML parser derived from the Sun ProjectX Parser and 
       currently included in the 1.4 version of the official Java platform.
      </span>
     </div>
    </div>
   </div>

   <div class="category">
    <div class="label">Transform</div>
    <div class="content">
     <div class="software">
      <span class="name">Xalan</span>
      <span class="languages">[<a href="">C++</a>|<a href="">Java</a>]</span>
      <span class="desc">
       is a processing engine that provides a complete implementation of the 
       W3C XSLT transformation language. The Java version implements the JAXP 
       API and is included in the 1.4 version of official Java platform.
      </span>
     </div>
    </div>
   </div>

   <div class="category">
    <div class="label">Present</div>
    <div class="content">
     <div class="software">
      <span class="name">FOP</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       implements a professional-quality rendering system for the W3C XSL 
       Formatting Object language and for the W3C SVG language with the ability 
       to output the result as PDF, RTF, MIF or PostScript, or to present them
       directly on screen with the included viewer.
      </span>
     </div>
     <div class="software">
      <span class="name">Batik</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       provides a toolkit for working with the W3C SVG language, ranging from
       visualising SVG content, rasterizing it as JPG or PNG images, exporting
       an SVG version of a Java AWT canvas and more.
      </span>
     </div>
    </div>
   </div>
      
   <div class="category">
    <div class="label">Publish</div>
    <div class="content">
     <div class="software">   
      <span class="name">Cocoon</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
   is an XML publishing framework designed for performance and scalability around pipelined SAX
   processing. It offers a flexible environment based on the separation
   of concerns between content, logic and presentation. Interacts with most data sources, 
   including: filesystems, RDBMS, LDAP, native XML databases, and network-based data 
   sources. It may be run as a servlet or as a command line application.
      </span>
     </div>
     <div class="software">   
      <span class="name">AxKit</span>
      <span class="languages">[<a href="">Perl</a>]</span>
      <span class="desc">Apache AxKit is an XML Application Server for Apache. 
      It provides on-the-fly conversion from XML to any format, such as HTML, 
      WAP or text using either W3C standard techniques, or flexible custom code. 
      AxKit also uses a built-in Perl interpreter to provide some amazingly 
      powerful techniques for XML transformation. 
      </span>
     </div>
     <div class="software">   
      <span class="name">Xang</span>
      <span class="languages">[<a href="">ECMAScript</a>]</span>
      <span class="desc">
       lets you quickly build data-driven web applications that 
       integrate disparate data sources and cleanly separate data, logic and 
       presentation.
      </span>
     </div>
    </div>
   </div>
   
   <div class="category">
    <div class="label">Service</div>
    <div class="content">
     <div class="software">
      <span class="name">SOAP</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       is an implementation of the W3C SOAP protocol.
      </span>
     </div>
     <div class="software">
      <span class="name">Axis</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       is an implementation of the W3C SOAP protocol that was written to solve
       the architectural problems found in the other SOAP implementation.
      </span>
     </div>
     <div class="software">
      <span class="name">XML-RPC</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       is an implementation of XML-based Remote Procedure Calls (RPC).
      </span>
     </div>    
    </div>
   </div>
   
   <div class="category">
    <div class="label">Store</div>
    <div class="content">
     <div class="software">
      <span class="name">XIndice</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       is a native XML database that provides an efficient way to store and
       retrieve large quantities of semi-structured XML documents that hardly
       fit in the relational model. It implements the XML:DB API which follow
       the JDBC model in order to decouple functionality from the implementation.
       It supports XPath queries.
      </span>
     </div>
    </div>
   </div>

   <div class="category">
    <div class="label">Secure</div>
    <div class="content">
     <div class="software">
      <span class="name">XML-Security</span>
      <span class="languages">[<a href="">Java</a>]</span>
      <span class="desc">
       implements the W3C XML Security and cryptographic features
       to allow XML documents to be authenticated, signed, sealed or otherwise
       protected from unwanted or untrusted changes.
      </span>
     </div>    
    </div>
   </div>

 </td>
 <td width="35%" valign="top">

  <div class="frame">
   <div class="label">Mail lists</div>
   <div class="content">
    <div>Subscribe to our <strong>project-wide mail lists</strong>:</div>
    <ul>
     <li><a href="mailto:announement-subscribe@xml.apache.org">Announcements</a>: a moderated list to get announcements about our software releases or important events.</li>
     <li><a href="mailto:general-subscribe@xml.apache.org">General</a>: the project-wide mail list where general discussions on XML technologies are held and project-wide decisions are taken.</li>
    </ul>
    <div>or go to the <a href="community/">software-specific mail lists</a>.</div>
   </div>
  </div>

  <div class="frame">
   <div class="label">News</div>
   <div class="content">
    <div class="news">
     <img src="images/icon.gif" alt="W3C">
     <div class="title">XSLT, XPath, and XQuery drafts</div>
     <div class="by">28 Dec 2001 | <a href="http://xml.apache.org/people/stefano">Stefano Mazzocchi</a></div>
     <div class="text">
      The W3C has given developers a huge pile of holiday reading, with first drafts of 
      <a href="http://www.w3.org/TR/2001/WD-xslt20-20011220/">XSLT 2.0</a> and
      <a href="http://www.w3.org/TR/2001/WD-xpath20-20011220">XPath 2.0</a>, 
      as well as a collection of revised query drafts.
     </div>
    </div>
    <div class="news">
     <img src="images/icon.gif" alt="Batik">
     <div class="title"><a href="http://xml.apache.org/batik/">Batik 1.1 Released</a></div>
     <div class="by">28 Dec 2001 | <a href="http://xml.apache.org/people/stefano">Stefano Mazzocchi</a></div>
     <div class="text">
       A new release for <a href="http://xml.apache.org/batik/">the open source SVG toolkit</a> brings improved performance, and comes a step closer to fully
       supporting all features of SVG.
     </div>
    </div>
    <div class="news">
     <img src="images/icon.gif" alt="Cocoon">
     <div class="title"><a href="http://xml.apache.org/cocoon/">Cocoon 2.0 Released</a></div>
     <div class="by">28 Dec 2001 | <a href="http://xml.apache.org/people/stefano">Stefano Mazzocchi</a></div>
     <div class="text">
       After a long period of development, the second iteration of the 
       <a href="http://xml.apache.org/cocoon/">Apache Cocoon</a> XML-based application 
       platform has been released.
     </div>
    </div>
    <div class="news">
     <img src="images/icon.gif" alt="News">
     <div class="title"><a href="http://www.xml.com/articles/01/3849">XML.com on XIndice</a></div>
     <div class="by">28 Dec 2001 | <a href="http://xml.apache.org/people/stefano">Stefano Mazzocchi</a></div>
     <div class="text">
       XML.com has published <a href="http://xml.apache.org/people/kstaken">Kimbro Staken</a>'s second article
       about native XML databases where he explains some details about <a href="http://xml.apache.org/xindice/">Apache XIndice</a>.
     </div>
    </div>
   </div>
  </div>

  <div class="frame">
   <div class="label">Systems</div>
   <div class="content">
    <div>Checkout the systems we use for our <strong>development infrastructure</strong>:</div>
    <ul>
     <li><a href="">Forrest</a> is the system that generates and maintains the web site.</li>
     <li><a href="">Gump</a> is the system that rebuilds the software and tests dependencies.</li>
    </ul>
   </div>
  </div>
    
  <div class="frame">
   <div class="label">Calendar of Events</div>
   <div class="content">
    <table class="calendar" align="center">
    	<tr class="month">
    	 <td><a href="calendar/2002/01" title="January 2002">&laquo;</a></td>
    	 <td colspan="5">
    	  <a href="calendar/2002/02" nowrap="true">February 2002</a>
    	 </td>
    	 <td><a href="calendar/2002/03" title="March 2002">&raquo;</a></td>
    	</tr>
    	<tr class="days">
     	<td>Sun</td>
     	<td>Mon</td>
     	<td>Tue</td>
     	<td>Wed</td>
     	<td>Thu</td>
     	<td>Fri</td>
     	<td>Sat</td>
    	</tr>
  	  <tr>
     	<td>&nbsp;</td>
     	<td>&nbsp;</td>
     	<td>&nbsp;</td>
     	<td>&nbsp;</td>
     	<td>&nbsp;</td>
     	<td>1</td>
     	<td>2</td>
    	</tr>
     <tr>
     	<td>3</td>
     	<td>4</td>
     	<td>5</td>
     	<td>6</td>
     	<td>7</td>
     	<td>8</td>
     	<td>9</td>
    	</tr>
     <tr>
     	<td>10</td>
     	<td>11</td>
     	<td>12</td>
     	<td>13</td>
     	<td>14</td>
     	<td>15</td>
     	<td>16</td>
    	</tr>
     <tr>
     	<td>17</td>
     	<td class="active"><a href="calendar/2002/02/18">18</a></td>
     	<td>19</td>
     	<td>20</td>
     	<td>21</td>
     	<td>22</td>
     	<td class="current">23</td>
  	  </tr>
     <tr>
     	<td>24</td>
     	<td>25</td>
     	<td>26</td>
     	<td>27</td>
     	<td>28</td>
     	<td>&nbsp;</td>
     	<td>&nbsp;</td>
    	</tr>
    </table>   
   </div>
  </div>  
  
 </td>
</tr>
</table>

<div class="copyright">
Copyright &copy; 1999-2002 <a href="http://www.apache.org/">Apache Software Foundation</a>. All Rights Reserved.
</div>

</form>
</body>
</html>
