body {  background-color: #FFFFFF; margin: 0px 0px 0px 0px; font-size: 1em; font-family: Arial, Helvetica, sans-serif}

a:link { color: #0F3660 }
a:visited { color: #880000 }
a:active { font-weight: bold }
a:hover { color: #880000; }

.menu { background-color: #4C6C8F; margin: 0px; padding: 3px 8px 5px 3px; font-size: 1em}
.menu a:link { color: #FFFFFF }
.menu a:visited { color: #FFFFFF }
.menu a:active { font-weight: bold }
.menu a:hover { color: #880000; }
.menu ul { margin: 0px 0px 0px 20px; padding: 0px; }
.menu li  { list-style-image: url('images/chapter.gif'); }
.menu ul ul li  { list-style-image: url('images/page.gif'); }

.content { padding: 5px 5px 5px 10px; }
.content table { width: 100%; font-size: 1em; background-color: #7099C5; color: #ffffff; }
.content table .caption { text-align: left; color: black; }
.content table .th { text-align: center; }
.content td { background-color: #f0f0ff; color: black; }

.frame { width: 100%; margin: 5px 20px 5px 20px; font-size: 1em; }
.frame .content { margin: 0px; }

.note { border: solid 1px #7099C5; background-color: #f0f0ff; }
.note .label { background-color: #7099C5; color: #ffffff; }

.warning { border: solid 1px #D00000; background-color: #fff0f0; }
.warning .label { background-color: #D00000; color: #ffffff; }

.fixme { border: solid 1px #C6C600; background-color: #FAF9C3; }
.fixme .label { background-color: #C6C600; color: #ffffff; }

.code { border-color: #CFDCED; border-style: solid; border-width: 1px; font-size: 0.75em;}

.dida { font-size: 1em; }

.highlight { background-color: yellow; }

.minitoc {font-size: 1em; margin: 5px 5px 5px 40px;}
