# The reason for this .htaccess is to deliver DTDs and associated resources
# to some impoverished XML tools that do not use the Catalog Entity Resolver.
# We do make every effort to encourage the latter. See ./index.html
# 
#--------------------------------------------------------------------------
# NOTE: See the discussion in ../dtd/.htaccess
#--------------------------------------------------------------------------

RewriteEngine On
RewriteRule "(.*)\.pen$" "http://svn.apache.org/viewcvs.cgi/*checkout*/forrest/trunk/src/core/context/resources/schema/entity/$1.pen?content-type=application/xml-external-parsed-entity&root=Apache-SVN" [P]
