<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.0"?>
<plugin>

     <extension
      point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.forrest.eclipse.preference.ForrestPreferences"
            name="Forrest Preferences"
            id="org.apache.forrest.eclipse.preference.ForrestPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Forrest"
            id="org.apache.forrest.eclipse"/>
      <wizard
            class="org.apache.forrest.eclipse.wizards.NewProjectWizard"
            category="org.apache.forrest.eclipse"
            project="true"
            name="Seed New Project"
            id="org.apache.forrest.eclipse.NewProjectWizard"/>
      <wizard
            class="org.apache.forrest.eclipse.wizards.NewXDoc"
            category="org.apache.forrest.eclipse"
            name="XDoc File"
            id="org.apache.forrest.eclipse.wizards.NewXDoc"/>
      <wizard
            category="org.apache.forrest.eclipse"
            class="org.apache.forrest.eclipse.wizards.NewViewDoc"
            id="org.apache.forrest.eclipse.wizards.NewViewDoc"
            name="View Doc"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="org.apache.forrest.eclipse.siteContribution">
         <menu
               label="Site"
               path="projStart"
               id="org.apache.forrest.eclipse.siteMenu">
            <separator name="Server"/>
            <separator name="Static"/>
         </menu>
         <action
               enablesFor="1"
               label="Start Test Server"
               icon="icons/start.png"
               class="org.apache.forrest.eclipse.popup.actions.StartForrest"
               menubarPath="org.apache.forrest.eclipse.siteMenu/Server"
               id="org.apache.forrest.eclipse.StartForrest"/>
         <action
               enablesFor="1"
               label="Stop Test Server"
               icon="icons/stop.png"
               class="org.apache.forrest.eclipse.popup.actions.StopForrest"
               menubarPath="org.apache.forrest.eclipse.siteMenu/Server"
               id="org.apache.forrest.eclipse.StopServer"/>
         <action
               enablesFor="1"
               label="Build Site"
               icon="icons/build.png"
               class="org.apache.forrest.eclipse.popup.actions.BuildSite"
               menubarPath="org.apache.forrest.eclipse.siteMenu/Static"
               id="org.apache.forrest.eclipse.BuildServer"/>
         <action
               enablesFor="1"
               label="Build WAR File"
               icon="icons/build.png"
               class="org.apache.forrest.eclipse.popup.actions.BuildWARSite"
               menubarPath="org.apache.forrest.eclipse.siteMenu/Static"
               id="org.apache.forrest.eclipse.BuildWARServer"/>
         <action
               class="org.apache.forrest.eclipse.popup.actions.ModifyConfigs"
               enablesFor="1"
               id="org.apache.forrest.eclipse.ModifyConfigs"
               label="Modify Configurations"
               menubarPath="org.apache.forrest.eclipse.configMenu"/>
         <action
               class="org.apache.forrest.eclipse.popup.actions.ModifyPlugins"
               enablesFor="1"
               id="org.apache.forrest.eclipse.ModifyPlugins"
               label="Modify Plugin Selection"
               menubarPath="org.apache.forrest.eclipse.configMenu"/>
         <menu
               id="org.apache.forrest.eclipse.configMenu"
               label="Modify Project Configurations"
               path="projStart"/>
      </objectContribution>
   </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor id="org.eclipse.webbrowser"
      name="%viewWebBrowserTitle"
      icon="icons/obj16/internal_browser.gif"
      class="org.eclipse.webbrowser.internal.WebBrowserEditor"
      extensions="html,htm,gif,jpg,jpeg,xhtml"
      contributorClass="org.eclipse.webbrowser.internal.WebBrowserEditorActionBarContributor"/>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="Forrest"
           name="Forrest"/>
     <view
           category="Forrest"
           class="org.apache.forrest.eclipse.views.SiteXMLView"
           icon="icons/start.png"
           id="org.apache.forrest.view.siteXML"
           name="SiteXML"/>
     <view
           category="Forrest"
           class="org.apache.forrest.eclipse.views.TabsXMLView"
           icon="icons/start.png"
           id="org.apache.forrest.view.tabsXML"
           name="TabsXML"/>
     <view
           category="Forrest"
           class="org.apache.forrest.eclipse.views.ForrestPropertiesView"
           id="org.apache.forrest.view.propertiesEditor"
           name="Properties"/>
     <view
           category="Forrest"
           class="org.apache.forrest.eclipse.views.LocationmapView"
           id="org.apache.forrest.view.locationmap"
           name="Locationmap"/>
  </extension>
  
   <extension
         id="treeDrop"
         name="Site XML Drop"
         point="org.eclipse.ui.dropActions">
      <action
            class="org.apache.forrest.eclipse.views.SiteXMLView"
            id="SiteXMLDrop">
      </action>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.apache.forrest.eclipse.Application"/>
      </application>
   </extension>
   <extension
         id="forrest"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.apache.forrest.eclipse.application"
            name="Forrest IDE"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.apache.forrest.eclipse.Perspective"
            id="org.apache.forrest.perspective.ContentObject"
            name="Content Object (Forrest)"/>
   </extension>
</plugin>