*.forrestbar {
	font-family: tahoma,verdana;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

text.forrestbar {
	margin: 0px 3px 0px 3px;
	font-size: 12px;
}

textbox.forrestbar {
	font-size: 12px;
	padding: 2px;
}

image.forrestbar {
	border: 0px;
	margin: 0px 0px 0px 3px;
}

image#forrestbar-logo {
 	list-style-image: url("images/apache.gif");
}

.forrestbar {
	 padding: 1px 0px 1px 10px;
}


#forrestbar-search {
	list-style-image: url("images/search-off.gif");
}
#forrestbar-search:hover {
	list-style-image: url("images/search.gif");
}

#forrestbar-news {
	list-style-image: url("images/news-off.gif");
}
#forrestbar-news:hover {
	list-style-image: url("images/news.gif");
}

#forrestbar-code {
	list-style-image: url("images/code-off.gif");
}
#forrestbar-code:hover {
	list-style-image: url("images/code.gif");
}

#forrestbar-download {
	list-style-image: url("images/download-off.gif");
}
#forrestbar-download:hover {
	list-style-image: url("images/download.gif");
}

#forrestbar-tools {
	list-style-image: url("images/tools-off.gif");
}
#forrestbar-tools:hover {
	list-style-image: url("images/tools.gif");
}

#forrestbar-asksam {
	list-style-image: url("images/asksam-off.png");
}
#forrestbar-asksam:hover {
	list-style-image: url("images/asksam.png");
}

#forrestbar-gump-nightly {
	list-style-image: url("images/gump-off.png");
}
#forrestbar-gump-nightly:hover {
	list-style-image: url("images/gump.png");
}

#forrestbar-local-forrest {
	list-style-image: url("images/local-forrest.png");
}

#forrestbar-local-forrest:hover {
	list-style-image: url("images/local-forrest.png");
}

#forrestbar-projects {
	list-style-image: url("images/apache.gif");
}
#forrestbar-projects:hover {
	list-style-image: url("images/apache.gif");
}



