*.forrestbar {
	font-family: tahoma,verdana;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

text.forrestbar {
	margin: 0px 3px 0px 3px;
	font-size: 12px;
}

textbox.forrestbar {
	font-size: 12px;
	padding: 2px;
}

image.forrestbar {
	border: 1px solid black;
	margin: 0px 0px 0px 3px;
}

image#forrestbar-logo {
 	list-style-image: url("images/apache.gif");
}

button.forrestbar {
	 padding: 1px 0px 1px 10px;
}

button#forrestbar-search {
	list-style-image: url("images/search-off.gif");
}
button#forrestbar-search:hover {
	list-style-image: url("images/search.gif");
}

button#forrestbar-news {
	list-style-image: url("images/news-off.gif");
}
button#forrestbar-news:hover {
	list-style-image: url("images/news.gif");
}

button#forrestbar-code {
	list-style-image: url("images/code-off.gif");
}
button#forrestbar-code:hover {
	list-style-image: url("images/code.gif");
}

button#forrestbar-download {
	list-style-image: url("images/download-off.gif");
}
button#forrestbar-download:hover {
	list-style-image: url("images/download.gif");
}

button#forrestbar-tools {
	list-style-image: url("images/tools-off.gif");
}
button#forrestbar-tools:hover {
	list-style-image: url("images/tools.gif");
}

button#forrestbar-asksam {
	list-style-image: url("images/asksam-off.png");
}
button#forrestbar-asksam:hover {
	list-style-image: url("images/asksam.png");
}
