<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  <servlet>
    <servlet-name>siteviewer</servlet-name>
    <jsp-file>/viewsite.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>refresher</servlet-name>
    <jsp-file>/refresh_frame.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>refreshlogger</servlet-name>
    <jsp-file>/tail_refreshlog.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>siteviewer</servlet-name>
    <url-pattern>/site/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>refresher</servlet-name>
    <url-pattern>/refresh/*</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>refreshlogger</servlet-name>
    <url-pattern>/logs/refresh</url-pattern>
  </servlet-mapping>

</web-app>
