body {
	font-family: "Verdana", sans-serif;
	font-size: 80%;
}

#flite-content-wrapper {
	
}

#flite-header {
 	background: #eeeeee;
 	text-align: center;
 	font-size: x-large;
}

#flite-content {
    float:right;
    width: 65%;
    margin-left: 5%;
}

#flite-left {
 	
 	width: 30%;
 	list-style: none;
	border: 1px solid #dddddd;
	margin: 5px;
}

#flite-left ul, #flite-left li{
	list-style: none;
	margin: 0px;
	padding-left: 4px;
	padding-top: 4px;
	text-decoration: none;
}

#flite-left > ul > li > a {
	font-weight: bold;
	font-family: "Lucida Grande", sans-serif;
}



#flite-footer {
	clear: both;
	background: #eeeeee;
}