<style type=text/css>
a.menu {
	color: #FFFFFF;
    text-align:left;               
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:plain;
    text-decoration:none;
    padding-left: 14px
}
.menutitle {
	color: #000000;
    text-align:left;               
    font-size:10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding-left: 8px
}
.menuselected {
	color: white;
    text-align:left;               
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding-left: 14px
}
</style>
