/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/*
 * all stuff related to the design of the navigation
 * this doesn't include the positioning of the nav-section block itself
 *************************************/
 
/* menu */
#nav-section ul {
   padding-left: 5px;
   margin : 5px 0px 5px 5px;
}

#nav-section a {
   color: #000;
   text-decoration: none;
}

#nav-section a:visited,
#nav-section a:hover {
   text-decoration: underline;
}

#nav-section li  {
   list-style: none;
   line-height: 1.2em;
   font-size: 0.95em;
}

#nav-section li li {
   list-style: url(images/blue-bullet.gif);
/*
   padding-left: 10px;
  background: url(images/blue-bullet.gif) no-repeat left 0.3em;
*/
}

/* titles of the first levels */
#nav-section li.pagegroup span,
#nav-section li.pagegroupselected span  {
   display: block;
   width: 100%;
   border-bottom: 1px solid #ccc;
   font-weight: bold;
   color: #66c;
   font-variant: small-caps; 
}

/* lower levels are reversed */
#nav-section li.pagegroup li span,
#nav-section li.pagegroupselected li span {
   display: inline;
   width: auto;
   border: 0;
}

.menupagetitle {
    color: #66c;
    display: inline;
    font-weight: bold;
}
