/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/* general layout of page */
@import url("layout.css");

/* navigation */
@import url("nav.css");


body {
   font-size: 0.95em;
   font-family: Arial, Geneva, Helvetica, sans-serif;
   color: black;
   background-color: white;
}

/* header section
 *************************************/
/* header */
#header {
   border-bottom: 1px solid #000;
}

#header a {
   text-decoration: none;
}

/* logo */
#header .logoImage {
  border: 0;
}

#header #title, #header #link {
   text-decoration: none;
   color: #000;
   border: 0;
}

#header #title {
   font-size: 2em;
}

#header #link {
   font-size: 1em;
   font-weight: normal;
}

/* navigation section
 *************************************/
/* leftbar */
#leftbar  {  
   border: solid #ccc;
   border-width: 0 1px 0 0;
}

/* search box */
#leftbar .search-input {
   background: #cde;
   border-bottom: 1px solid #ccc;
}

#leftbar .search-input small {
   font-size: 0.7em;
   line-height: 1.2em;
   font-style: italic;
   float: right;
}

#leftbar .search-input small a {
   color: #66c;
   text-decoration: none;
}

#page {
}

/* content
 *************************************/
/* HTML elements */

/* general layout:
 * main content is 65% width,
 * notes, fixes and warnings float
 * to the right with 30% width
 *************************************/

.section {
 }
 
h1 {
   font-size: 1.4em;
   font-weight: bold;
   color: #66c;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 0em;
   margin-right: 13em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

p {
   margin: 0.25em 0;
}

/* note, warning and fixme are styled similarly
 * therefore, the toplevel classes are equal.
 */

.note,
.fixme,
.warning {
   margin: 1em 0 1em 0.5em;
   width: 12em;
   border: 0;
   float: right;
   clear: right; 
}

.section .note,
.section .fixme,
.section .warning  {
   
}

.note .content,
.fixme .content,
.warning .content {
   padding: 0.25em 0.75em 0.75em 0.75em;
   background: #eff6f8; 
}

.note .label,
.fixme .label,
.warning .label  {
   font-weight: bold;
   font-size: 1.1em;
   font-variant: small-caps;
   line-height: 1.1em;
   color: #66c;
   text-decoration: none;
   text-align: left;
   padding-left: 0.75em;
   padding-bottom: 0;
   background: #cde;
   border-bottom: 1px solid #cde;
}

/* warning */
.warning {
}

.warning .label {
   color: #fff;
   border-bottom: 1px solid #980101;
   background: #980101;
}

.warning .content {
   background: #e28b9c;
}

/* abstract */

div.abstract {
    font-style: italic;
    width: 55%;
    margin: 0 40% 0 5%;
    padding: 0.5em 0;
}


/* tables */
table {
  background-color: #ccc;
}

table caption {
   font-size: 0.8em;
   font-style: italic;
}

td, th {
    font-size: 0.95em;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    color: black;
    background-color: white;
}

th {
   background-color: #f0f0f0;
}

table p {
   width: 100%;
   margin: 0.1em;
}

/* quote */
.quote {
   width: 70%;
   margin: 1em 15%;
   padding: 1em;
   font-style: italic;
   font-size: 1.1em;
   background-color: #f0f0f0;
}

/* preformatted text */
pre, .pre  {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    white-space: pre;
    clear: right;
}

.codefrag {
   font-family: Courier, Monospace;
}

hr {
   border: 0;
   border-bottom: 1px solid #ccc;
}

img {
   border: 0;
}

a img {
   border: 0;
}

/* footer
 *************************************/
#footer {
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid #000;
}