#branding {
/*Container used for a header and banner to brand the site.
*/
position: relative;
float: left;
width: 100%;
background-color: #294563; 

}
#branding-trail{
/*Used for the trail of the site.
*/
background: #CFDCED;
color: black;
border: solid 1px black;
padding: 3px 10px;
font-size: 75%;
}
#branding-trail-a1{
/*Used for the trail of the site.
*/
position: relative;
background-color: #CFDCED;
color: black;
border-left: solid 1px black;
border-right: solid 1px black;
border-top: solid 1px black;
padding: 0px 180px;
font-size: 75%;
z-index:10;
}
#branding .grouplogo {
/*Used for the grouplogo.
*/
padding: 7px 0 10px 10px;
float: left;
text-align: left;
}
#branding .projectlogo {
/*Used for the projectlogo.
*/
padding: 7px 0 10px 10px;
float: left;
width: 33%;
text-align: right;
}
#branding .projectlogoA1 {
/*Used for the projectlogo in alternativ location.
*/
padding: 7px 0 10px 10px;
float: right;
}
/*
#search
Related to search interface and search results

#search-input
Search form container
*/
#branding .searchbox {
/*Related to search interface and search results
*/
position: absolute;
right: 10px;
height: 42px;
font-size: 70%;
white-space: nowrap;
text-align: right;
color: white;
background-color: #ccc;
z-index:0;
bottom: -1px; /* compensate for IE rendering issue */
}
html>body #branding .searchbox {
bottom: 0px;
}
#branding .searchbox form {
padding: 5px 10px;
margin: 0;
}
#branding .searchbox p {
padding: 0 0 2px 0;
margin: 0;
}

#branding-published{
/*Used for the last published note of the site.
*/
clear: both;
padding-right: 10px;
color: #fff;
font-size : 70%; 
text-align: right;  
white-space:nowrap;
background-color: #4C6C8F;
border-left: solid 1px black;
border-right: solid 1px black;
}