# The reason for this .htaccess is to deliver DTDs and associated resources
# to some impoverished XML tools that do not use the Catalog Entity Resolver.
# We do make every effort to encourage the latter. See ./index.html
# 
#--------------------------------------------------------------------------
# NOTE: There is a problem with getting the correct media-types ...
# i.e. http://svn.apache.org/repos/asf/forrest/trunk/.../*.dtd
# Currently the server just delivers text/plain
# We can do 'svn propset svn:mime-type' for the *.dtd etc.
# which will cause them to be delivered properly.
# However there are Issues for SVN (#1002 and #1233)
# whereby the files will be seen by SVN as binary, hence no diffs.
# http://subversion.tigris.org/issues/show_bug.cgi?id=1002
# http://subversion.tigris.org/issues/show_bug.cgi?id=1233
# http://issues.cocoondev.org/jira/secure/ViewIssue.jspa?key=FOR-107
# 
# So the workaround is to use ViewCVS to explicity set the media-type.
#--------------------------------------------------------------------------

# Get the content straight out of ViewCVS and use the appropriate media type:
# See http://www.faqs.org/rfcs/rfc3023.html
# FIXME: Verify these media types and maybe add charset
#
RewriteEngine On
RewriteRule "(.*)\.dtd$" "http://svn.apache.org/viewcvs.cgi/*checkout*/forrest/trunk/src/core/context/resources/schema/dtd/$1.dtd?content-type=application/xml-dtd&root=Apache-SVN" [P]
RewriteRule "(.*)\.mod$" "http://svn.apache.org/viewcvs.cgi/*checkout*/forrest/trunk/src/core/context/resources/schema/dtd/$1.mod?content-type=application/xml-dtd&root=Apache-SVN" [P]
RewriteRule "(.*)\.pen$" "http://svn.apache.org/viewcvs.cgi/*checkout*/forrest/trunk/src/core/context/resources/schema/dtd/$1.pen?content-type=application/xml-external-parsed-entity&root=Apache-SVN" [P]
RewriteRule "(.*)\.ent$" "http://svn.apache.org/viewcvs.cgi/*checkout*/forrest/trunk/src/core/context/resources/schema/dtd/$1.ent?content-type=application/xml-external-parsed-entity&root=Apache-SVN" [P]

#--------------------------------------------------------------------------
# NOTE: The following was suggested by someone to the forrest-dev
# and not yet investigated.
#--------------------------------------------------------------------------

# FIXME: Is this Proxy stuff sufficient?

# FIXME: Cache stuff is not yet working
#
## Now, since ViewCVS is slower than httpd, make sure we cache it
#CacheEnable mem /dtd

## for a day
#CacheDefaultExpire 86400
#  MCacheSize 4096
#  MCacheMaxObjectCount 100
#  MCacheMinObjectSize 1
#  MCacheMaxObjectSize 2048

## and in case your client is a good web citizen, tell the proxies
## to avoid calling us, since we guarantee that the content is fresh
## for a day
#ExpiresActive On
#ExpiresDefault "access plus 1 day"
