<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.apache.forrest.repository.daisy"
   name="Daisy Plug-in"
   version="0.0.1"
   provider-name=""
   class="org.apache.forrest.repository.daisy.DaisyPlugin">

   <runtime>
      <library name="daisy.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.forrest.repository.daisy.preferences.DaisyPreferences"
            id="org.apache.forrest.repository.daisy.preferences.DaisyPreferences"
            name="Daisy"/>
   </extension>

</plugin>
